@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("./christmas_bg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-position: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
h1 {
  display: flex;
  margin: 0 auto;
}

.countdown-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.big-text {
  font-size: 6rem;
  margin: 40px 20px 0px 20px;
}
span {
  display: flex;
  align-items: center;
  justify-content: center;
}
